<main
  class="flex flex-col items-center min-h-screen p-4 md:p-8 lg:p-12 mb-[100px] md:mb-[120px] lg:mb-[150px]"
>
  <div class="flex flex-col items-center space-x-0 w-full max-w-4xl">
    <h1
      class="text-2xl font-bold my-4 mb-12 center md:text-3xl lg:text-4xl"
    >
      Repositories
    </h1>

    @if (loading()) {
    <div class="flex flex-col items-center justify-center my-8">
      <p-progressspinner
        class="mx-auto my-4 w-12 h-12"
        [strokeWidth]="'4'"
        animationDuration="1s"
        aria-label="Loading"
      />
      <p class="mt-4 text-center">
        Fetching repositories...
      </p>
    </div>
    } @else if (error()) {
    <div class="text-center my-8 text-red-500">
      <h2 class="text-2xl font-bold">Error</h2>
      <p class="mt-2">
        Could not fetch repositories. Please check the username and try again.
      </p>
    </div>
    } @else {
    <div class="space-y-4 w-full">
      @if (repos().length > 0) { @for ( repo of repos(); track repo.id ) {
        <app-repo-card [repo]="repo" />
      } } @else {
      <p class="text-center my-4 text-zinc-500 dark:text-zinc-400">
        No repositories found for this user.
      </p>
      }
    </div>
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [rows]="paginatorState$.value.rows"
      [totalRecords]="totalRecords()"
      [rowsPerPageOptions]="rowsPerPageOptions()"
      class="mt-6 w-full"
    ></p-paginator>

    }
  </div>
</main>
